PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE lecture_INFORMATION (
  ID	FLOAT NULL  ,
  name  TEXT  NULL  );
INSERT INTO lecture_INFORMATION VALUES(1.0,'Allen');
INSERT INTO lecture_INFORMATION VALUES(2.0,'Noam');
INSERT INTO lecture_INFORMATION VALUES(3.0,'hey');
COMMIT;
